/*Nav*/

nav, .navbar-brand {
	font-size:1.2em;
}

.navbar li {
	padding-left:20px;
	padding-right:20px;
}

html {
    width: 100%;
    height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
    height: 100%;
}


.panel-cadastro {
	cursor:pointer;
}

.categorias td {
	border-top:0 !important;
	text-align:center;
	padding:30px 0 !important;
}

.categorias img {
	max-width:400px;
	max-height:300px;
}

.descricao-jogo {
	max-width:500px;
	float:left;
	margin-right:10px;
}

.btn-jogar {
	padding:18px 36px;
	font-size:1.5em;
}

.img-jogo {
	max-width:500px;
}

.link-jogar {
	float:left;
	clear:left;
	margin-top:10px;
}