/*Nav*/

nav, .navbar-brand {
	font-size:1.2em;
}

.navbar li {
	padding-left:20px;
	padding-right:20px;
}

html {
    width: 100%;
    height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
    height: 100%;
}

/*Capa*/
.capa {
	background-image: url("../img/bg.jpg"); /*Créditos da imagem: https://www.flickr.com/photos/smieyetracking/5470263979 , cortada.*/
	background-size: cover;
	background-attachment: fixed;
}

.capa-prof {
		background-image: url("../img/bgprof.jpg"); /*Créditos da imagem: https://www.flickr.com/photos/wwworks/4005631298 */
	background-size: cover;
	background-attachment: fixed;
}

.page-title {
	text-align:center;
	margin-top:13%;
	color:white;
}

.page-title-prof {
	margin-top:29%;
	background:rgba(0,0,0,0.5);
}

.page-title h1 {
	font-size:3.5em;
	font-weight:bold;
}
.page-title small {
	color:white;
}

.pag {
	height:100%;
}

/*Destaques*/